.Scoreboard {
  text-align: center;
}

.Scoreboard-logo {
  animation: Scoreboard-logo-spin infinite 20s linear;
  height: 80px;
}

.Scoreboard-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Scoreboard-intro {
  font-size: large;
}

@keyframes Scoreboard-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
